<%= form_tag(merge_action, :id => "merge_with_form") do %>

  <h3>Merge Articles</h3>

  <label for='merge_with'>Article id: </label>
  <%= text_field 'merge_with', nil %>
  <input type="submit" value="Merge With This Article">

<% end %>
